<link rel="stylesheet" href='app/>

<div id="<%= dom_id club %>">
  <p>
    <strong>Name:</strong>
    <%= club.name %>
  </p>

  <p>
    <strong>Logo:</strong>
    <img src= <%= club.image %>>
  </p>

  <p>
    <strong>City:</strong>
    <%= club.city %> 
  </p>

  <p>
    <strong>Description:</strong>
    <%= club.description %>
  </p>

  <p>
    <strong>Palmares:</strong>
    <%= club.palmares %>
  </p>

  <p>
    <strong>Ranking:</strong>
    <%= club.ranking %>
  </p>

  <p>
    <%= link_to "PLayers", players_path %>
  </p>

</div>
