<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <img src= <%= player.image %>>
  </p>

  <p>
    <strong>Club:</strong>
    <%= player.club%>
  </p>

  <p>
    <strong>Height:</strong>
    <%= player.height %>
  </p>

  <p>
    <strong>Draft:</strong>
    <%= player.draft %>
  </p>

  <p>
    <strong>Post:</strong>
    <%= player.post %>
  </p>

  <p>
    <strong>Min:</strong>
    <%= player.min %>
  </p>

  <p>
    <strong>Ppg:</strong>
    <%= player.ppg %>
  </p>

  <p>
    <strong>Reb:</strong>
    <%= player.reb %>
  </p>

  <p>
    <strong>Blk:</strong>
    <%= player.blk %>
  </p>

  <p>
    <strong>Stl:</strong>
    <%= player.stl %>
  </p>

</div>
